@import "_mixin.scss";

$titleSize: 20px;
$buttonRadius: 5px;
$buttonColor: #fff;
$buttonTextColor: #7E7;
$buttonPadding: 10px 15px;
$menubarWidth: 150px;
$baseBackgroundColor: #555;
$menuBackgroundColor: $baseBackgroundColor - #222;
$menuButtonBackgroundColor: $menuBackgroundColor - #222;
$menuButtonHoverBackgroundColor: $menuButtonBackgroundColor + #111;

$textColor: #9C9;
$footerHeight: 40px;

s
html,
body {
  font-family: Helvetica, sans-serif;
  height: 100%;
}

body {
  background-color: $baseBackgroundColor;
  color: $textColor;
}


footer {
  text-align: center;
  position: fixed;
  height: 40px;
  width: 100%;
  bottom: 0px;
  left:0;
  padding: 10px 10px 10px 10px;
  background-color: $menuBackgroundColor;
}

.header {
  padding: 0;
  height: 100%;
  color: #7E7;
}

a {
  color: #7E7;
}
a:hover{
  color: #CFC;
}

.button{
  background-color: $menuBackgroundColor - #222;
  display: inline;
  &:hover { background-color: $menuBackgroundColor + #111; }
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  @include border-radius(5px);
}

#content{
  float:  left;
  padding-left: $menubarWidth + 30px;
  padding-bottom: $footerHeight + 20px;
  overflow: auto;
}

#menuWrap{
  height: 100%;
  background-color: #212;
  float: left;
}

.sticky{
  position: fixed;
  top: 0;
  left: 0;
}

.homePage{
  ul{
    padding: 0px;
  }
  li{
    padding: 0px 20px;
    list-style-type: none;
  }
}

.menuBar{
  //float: left;
  background-color: $menuBackgroundColor;
  display: block;
  width: $menubarWidth;
  height: 100%;
  padding: 20px 10px;

  a {
    color: #7E7;
  }
  a:hover {
    color: #CFC;
  }

  ul{
    text-align: center;
    //align-items: center;
  }
  li{
    //display: inline;
    text-align: left;
    list-style-type: none;
    margin: 20px 0px;
  }

  .title{
    font-size: $titleSize;
  }
}


#wrap {
  min-height: 100%;
  //padding-left: $menubarWidth;
  //padding-bottom: $footerHeight;
}
