@import "_mixin.scss";

$background: #2C3333;
$navBarBackground: #506750;
$titleBackground: #6A8A7A;
$navBarHoverBackground: #B2BB99;
$contentBackground: #DCD6C9;
$contentText: #2C3333;

@font-face {
  font-family: 'SourceCodePro';
  src: url('../fonts/SCP/SourceCodePro-Regular.ttf') format('truetype');
}

html,
body {
  font-family: 'SourceCodePro', monospace, sans-serif;
  //src: url(./resources/fonts/bitstream/VeraMono.ttf);
  height: 90%;
}

body {
  background-color: $background;
}

.page {
  margin: 0 auto;
  background-color: $contentBackground;
  color: $contentText;
  width: 80%;
}
header {
  padding: 0px;
  color: #FFF;
  background-color: $titleBackground;
}
header a {
  color: #FFF;
  text-decoration: none;
}
header a:hover {
  text-decoration: underline;
}
header h1 {
  padding: 20px 20px 0px 20px;
}
header .title {
  font-size: 30px;
  padding: 5px 10px;
}
nav {
  margin: 0px;
  padding: 0px;
  color: #FFF;
  background-color: $navBarBackground;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 10px 10px 10px 0px;
}
nav li {
  display: inline;
  width: 60px;
  padding: 10px;
}
nav li:hover {
  background-color: $navBarHoverBackground;
}
.content {
  min-height: 900px;
  padding: 20px;
}
footer {
  padding: 5px 10px 1px 20px ;
  align-self: center;
}
footer ul {
  display: inline;
}
footer li {
  text-decoration: none;
  display: inline;
}
