@import "_mixin.scss";

$titleSize: 20px;
$buttonRadius: 5px;
$buttonColor: #fff;
$buttonTextColor: #7E7;
$buttonPadding: 10px 15px;
$menuColor: #212;

html,
body {
  padding: 0;
  height: 100%;
}

body {
  background-color: #434;
  color: #9C9;
}

body::before{
  content: "";
  height: 100%;
  float: left;
  width: 0;
  margin-top: -32767px;
}

footer {
  position: fixed;
  height: 40px;
  width: 100%;
  bottom: 0px;
  left:0;
  padding: 10px 10px 10px 10px;
  background-color: $menuColor;
}

.header {
  padding: 0;
  height: 100%;
  color: #7E7;
}

a {
  color: #7E7;
}
a:hover{
  color: #CFC;
}

.button{
  background-color: #312;
  border-color: #9D9;
  display: inline;
  &:hover { background-color: #213; }
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  @include border-radius(5px);
}

#content{
  float:  right;
  padding: 10px 5px 20px 5px;
  overflow: auto;
}

#menuWrap{
  height: 100%;
  background-color: #212;
  float: left;
}

.sticky{
  position: fixed;
  top: 0;
  left: 0;
}

.menuBar{
  //float: left;
  background-color: $menuColor;
  display: block;
  height: 100%;
  padding: 20px 10px;

  a {
    color: #7E7;
  }
  a:hover {
    color: #CFC;
  }

  ul{
    //text-align: center;
    //align-items: center;
  }
  li{
    //display: inline;
    text-align: left;
    list-style-type: none;
    margin: 20px 0px;
    .button{
    }
  }

  .title{
    font-size: $titleSize;
  }
}


#wrap {
  min-height: 100%;
  padding: 0px;
}
