{{partial "header.html" .}}

<!-- Add after Menu Bar is created  -->
{{partial "menuBar.html" .}}
Stuff goes here.<br>
Built site for language en:<br>
0 draft content<br>
0 future content<br>
0 expired content<br>
1 regular pages created<br>
8 other pages created<br>
0 non-page files copied<br>
0 paginator pages created<br>
0 tags created<br>
0 categories created<br>
total in 22 ms<br>
Config file changed: /home/tim/Projects/heidthecamp/config.toml<br>
Started building sites ...<br>
<br>
Built site for language en:<br>
0 draft content<br>
0 future content<br>
0 expired content<br>
1 regular pages created<br>
8 other pages created<br>
0 non-page files copied<br>
0 paginator pages created<br>
0 tags created<br>
0 categories created<br>
total in 34 ms<br>
<br>
Static file changes detected<br>
2017-11-12 19:13 -0500<br>
Syncing /css/heidthecamp.css to /<br>
Syncing /css/test.css to /<br>
<br>
Static file changes detected<br>
2017-11-12 19:13 -0500<br>
Syncing /css/heidthecamp.css to /<br>
Syncing /css/test.css to /<br>
<br>
Static file changes detected<br>
2017-11-12 19:16 -0500<br>
Syncing /css/heidthecamp.css to /<br>
Syncing /css/test.css to /<br>
<br>
Static file changes detected<br>
2017-11-12 19:17 -0500<br>
Syncing /css/heidthecamp.css to /<br>
Syncing /css/test.css to /<br>
<br>
Built site for language en:<br>
0 draft content<br>
0 future content<br>
0 expired content<br>
1 regular pages created<br>
8 other pages created<br>
0 non-page files copied<br>
0 paginator pages created<br>
0 tags created<br>
0 categories created<br>
total in 22 ms<br>
Config file changed: /home/tim/Projects/heidthecamp/config.toml<br>
Started building sites ...<br>
<br>
Built site for language en:<br>
0 draft content<br>
0 future content<br>
0 expired content<br>
1 regular pages created<br>
8 other pages created<br>
0 non-page files copied<br>
0 paginator pages created<br>
0 tags created<br>
0 categories created<br>
total in 34 ms<br>
<br>
Static file changes detected<br>
2017-11-12 19:13 -0500<br>
Syncing /css/heidthecamp.css to /<br>
Syncing /css/test.css to /<br>
<br>
Static file changes detected<br>
2017-11-12 19:13 -0500<br>
Syncing /css/heidthecamp.css to /<br>
Syncing /css/test.css to /<br>
<br>
Static file changes detected<br>
2017-11-12 19:16 -0500<br>
Syncing /css/heidthecamp.css to /<br>
Syncing /css/test.css to /<br>
<br>
Static file changes detected<br>
2017-11-12 19:17 -0500<br>
Syncing /css/heidthecamp.css to /<br>
Syncing /css/test.css to /<br>
<br>

{{partial "footer.html" .}}
